.empty-basket__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50%;
    margin-bottom: 50%;
}
.empty-basket__image {

}
.empty-basket__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}
.empty-basket__paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: gray;
    max-width: 285px;
    text-align: center;
}
.empty-basket__button-wrapper {
    background-color: #9DD458;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 245px;
    height: 45px;
    border-radius: 20px;
    margin-top: 35px;
    cursor: pointer;
    padding: 0 50px;
}
.empty-basket__button-wrapper:hover{
    justify-content: space-around;
}
.empty-basket__button-image {
    margin-right: 10px;
}
.empty-basket__button {
    background-color: #9DD458;
    border-style: none;
}
.empty-basket__button-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}